html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}
header {
  font-family: Roboto, sans-serif;
  background: #000;
  color: white;
  padding-left: 20px;
  font-size: 1rem;
}
section {
  flex: 1 0 auto;
  text-transform: uppercase;
  font-family: "Roboto Serif", sans-serif;
  display: block;
  margin: 20px auto;
  font-size: 1.5rem;
}

span::after {
  content: "";
  display: block;
  width: 152.67px;
  height: 166.67px;
  background: url("./Web_design_SVG.svg") no-repeat center;
  position: absolute;
  right: 60px;
  bottom: 100px;
}
footer {
  flex-shrink: 0;
  background-color: black;
  color: white;
  padding-left: 20px;
}

footer ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: #b7b7b7;
}
footer p {
  grid-column: 1/-1;
}
footer li {
  padding-bottom: 5px;
}

h2::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  header {
    align-items: center;
  }
  section {
    font-size: 1em;
  }
  span::after {
    bottom: 160px;
  }
  footer ul {
    grid-template-columns: 1fr;
  }
}
